# -----------------------------------------------------------------
# .gitignore
# -----------------------------------------------------------------

# MacOS files
.DS_Store

# VS Code config files
.vscode

# Environments and Variables
/vendor/
vendor/
.env
env/
venv
.venv
venv/
.venv/

# Python
pycache/ *.pyc
__pycache__/
.cache/
