# -----------------------------------------------------------
# Project Dependencies
# -----------------------------------------------------------

# FastAPI App
fastapi[standard]

# Supporting libraries
httpx
requests
python-dotenv
